---
permalink: "blog/robots.txt"
eleventyExcludeFromCollections: true
---
# geneplaza.com/blog
# Note: the site-wide robots.txt lives at the domain root and is served by the
# Ember origin. This file documents blog policy; fold these rules into the root
# file, because crawlers only read /robots.txt.

User-agent: *
Allow: /blog/

Sitemap: https://www.geneplaza.com/blog/sitemap.xml
